.main {
   width: 100%;
   height:100%;
   

}
.maincontainer {
    background-color: gainsboro;
    background-size: 900px;

}


.navcontainer a {

    color: blue;
    padding: 5px;
    display: inline;
}

.navcontainer a {
    float: right;
}
.logo h1 {
    position: absolute;
    top: 2px;
    left: 8px;
    transform: rotate(180deg);
    color: blue;
}

.logo p {


    position: relative;
    left: 3px;
    bottom:8px ;
    padding: 15px;
    color: blue;

}

h6 {
    color: blue;
}

.what-to-do {
    display: block;
    height: 30px;
    width: 220px;
    padding: 10px;
    border: 1px;
    background-color: orangered;
    color: white;

}

.what-we-do img {
    position: relative;
    left: 880px;
    bottom: 150px;
    width: 400px;
    height: 300px
}

.what-we-do p {
    text-align: justify;

}

.servicecontainer {
    position: relative;
    bottom: 80px;

}

.service {

    text-align: center;
    color: green;
    position: relative;
    top: 80px;
    bottom: 10px;
}


div.profile-b {
    text-align: center;
    position: relative;
    bottom: 86px;

}

div.profile-c {
    text-align: right;
    position: relative;
    bottom: 172px
}

.profilecontainer {
    display: block;
    height: 50px;
    width: 1313px;
    padding: 10px;
    border: 2px;
    background-color: gainsboro;
    color:green;
    position: relative;
    bottom: 265px;
}

div.what-we-do p {

    width: 400px;
}

.container-what-we-do {
    position: relative;
    top: 115px;

}

.center {
    text-align: center;
    position: relative;
    bottom: 183px;

}

.right {
    text-align: right;
    position: relative;
    bottom: 370px;

}

.left p {
    width: 400px;
    position: static;
    text-align: justify;
}

.center p {

    width: 400px;
    text-align: center;
    text-align: justify;
    position: relative;
    left: 460px
}

.right p {

    width: 405px;
    text-align: right;
    position: relative;
    left: 920px;
    text-align: justify;
}

.right h3 {
    position: relative;
    right: 50px;

}

.right img {
    position: relative;
    right: 100px;


}

.left img {
    position: relative;
    left: 30px;


}
.left-image{
position: relative;
left: 100px;
}

.right-image{

    position: relative;
    right: 100px;    
}

.Aboutcontainer {
    position: relative;
    bottom: 200px;

}

.About-us {

    position: relative;
    left: 930px;

}

.About-us-in-french {
    text-align: left;
    width: 400px;
    position: relative;
    left: 925px;
    text-align: justify;
}


.About-us-in-english {
    text-align: left;
    width: 400px;
    position: relative;
    bottom: 215px;
    left: 100px;
    text-align: justify;

}